.card-box::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 3px;
	width: 100%;
	content: '';
}

#facebook::before {
	background: var(--facebook);
}

#twitter::before {
	background: var(--twitter);
}

#instagram::before {
	background: var(--instagram);
}

#youtube::before {
	background: var(--youtube);
}

.followers {
	letter-spacing: 3px;
}
