:root {
	/* primary */
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);
	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--youtube: hsl(348, 97%, 39%);
	--instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));

	/* dark theme */
	--dark-toggler: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	--bg-dark-blue: hsl(230, 17%, 14%);
	--very-dark-blue: hsl(232, 19%, 15%);
	--card-bg-blue: hsl(228, 28%, 20%);
	--text-blue: hsl(228, 34%, 66%);
	--white: hsl(0, 0%, 100%);

	/* light-theme */
	--light-toggler: hsl(230, 22%, 74%);
	--bg-pale-blue: hsl(225, 100%, 98%);
	--card-bg-grayish-blue: hsl(227, 47%, 96%);
	--text-grayish-blue: hsl(228, 12%, 44%);
	--text-dark-blue: hsl(230, 17%, 14%);
}
