.dark-mode {
	background: var(--bg-dark-blue);
}

.dark-mode,
.dark-mode .followers-amount {
	color: var(--white);
}

.dark-mode .grayed-text {
	color: var(--text-blue);
}

.dark-mode .header {
	background: var(--very-dark-blue);
}

.dark-mode .info-box {
	border-bottom: 1px solid var(--text-blue);
}

.dark-mode .toggler-btn {
	background: var(--dark-toggler);
}

.dark-mode .toggler-btn::before {
	background: var(--card-bg-blue);
}

.dark-mode .card-box {
	background: var(--card-bg-blue);
}

@media(min-width: 1400px) {
    .dark-mode .info-box {
        border-bottom: none;
    }
}