.light-mode {
	background: var(--white);
	color: var(--text-dark-blue);
}

.light-mode .grayed-text {
	color: var(--text-grayish-blue);
}

/* Header styles */

.light-mode .header {
	background: var(--bg-pale-blue);
}

.light-mode .info-box {
	border-bottom: 1px solid var(--text-grayish-blue);
}

.light-mode .toggler-btn {
	background: var(--light-toggler);
}

.light-mode .toggler-btn::before {
	background: var(--bg-pale-blue);
}

/* Main styles */

.light-mode .card-box {
	background: var(--card-bg-grayish-blue);
}
