@import './assets/colors.css';
@import './assets/light-theme.css';
@import './assets/dark-theme.css';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}

header,
main {
	height: 100%;
	margin: 0 auto;
}

.header-container,
.main {
	width: 95vw;
}

.main {
	top: 180px;
}

.card-box {
	overflow: hidden;
	width: 100%;
}

.card-title,
.indicator {
	font-size: 12px;
}

.positive {
	color: var(--lime-green);
}

.negative {
	color: var(--bright-red);
}

@media (min-width: 1400px) {
	body {
		font-size: 16px;
	}

	.card-title {
		font-size: 14px;
	}
}
