@import './assets/colors.css';
@import './assets/light-theme.css';
@import './assets/dark-theme.css';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}

header,
main {
	height: 100%;
	margin: 0 auto;
	width: 100vw;
}

@media (min-width: 1440px) {
	body {
		font-size: 16px;
	}
}
