*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

.wrapper {
	min-height: 100vh;
	background-color: royalblue;
}

header,
main {
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
}
